.circle {
  border-radius: 550px;
  position: absolute;
  background-position: 50%;
  background-size: 600px;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  left: -200px;
  top: 100px;
}

.c1 {
  background-image: url('../../assets/img/4a09714c958f10bb46f628d9cef53f98.jpg');
  z-index: 10;
}

.c2 {
  background-image: url('../../assets/img/5921b06b38d761f2df804b2480ec09a9.png');
}

.c3 {
  background-image: url('../../assets/img/84680c6343e2810af49efb8baad76ddd.png');
}

.c4 {
  background-image: url('../../assets/img/e745a65643182c6f4775609570b73477.png');
}

.c5 {
  background-image: url('../../assets/img/41b3630d4432cf2ff527a934d8272076.png');
}

.c6 {
  background-image: url('../../assets/img/d2b9d2c650496febb3c213f4ec608617.png');
}

.c7 {
  background-image: url('../../assets/img/8a22278a4d0500c18aecb077dc24db27.png');
}

.c8 {
  background-image: url('../../assets/img/dc5dad1a4100d27c41c709da161c042d.png');
}

.play {
  width: 150px;
  height: 150px;
  background-color: #E12D2D;
  font-family: 'Founders Grotesk';
  font-size: 16px;
  color: #fff;
  z-index: 100;
  justify-content: center;
  cursor: pointer;
  left: -75px;
  top: 270px;
}

.play span {
  padding-right: 5px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 9px solid white;
}

.square-move .atl_logo,
.square-move .atl-wyb,
.square-move .atl-wyb-cir {
  position: fixed;
  z-index: 100;
  color: #fff;
}

.square-move .atl_logo {
  top: 319px;
  left: 39.5%;
  width: 138px;
  opacity: 0;
}

.square-move .atl-wyb {
  top: 315px;
  left: 39.5%;
  width: 300px;
  opacity: 0;
}

.square-move .atl-wyb-cir {
  left: 41.5%;
  top: 280px;
}

video {
  z-index: 100;
  left: -600px;
  top: 20px;
}

video[poster] {
  object-fit: cover;
}