.section2 .card {
  height: auto;
}

.section2 .text-container .job:first-child {
  top: 56px;
}

.section2 .text-container .job:last-child {
  top: -42px;
}

.section2 .job {
  position: relative;
}

.section2 .img-container {
  height: 435px;
}
