.mobile-container .section2-1 .card,
.mobile-container .section2-2 .card {
  height: auto;
}

.mobile-container .section2-1 .text-container .job:first-child {
  top: 56px;
}

.mobile-container .section2-1 .text-container .job:last-child {
  top: -42px;
}

.mobile-container .section2-1 .job {
  position: relative;
  font-size: 20px;
}

.mobile-container .section2-1 .img-container {
  width: 375px;
  height: 250px;
  margin: auto;
}

.mobile-container .section2-2 .card {
  gap: 12px;
}