.section2-1 .card,
.section2-2 .card {
  height: auto;
}

.section2-1 .text-container .job:first-child {
  top: 56px;
}

.section2-1 .text-container .job:last-child {
  top: -42px;
}

.section2-1 .job {
  position: relative;
}

.section2-1 .img-container {
  height: 435px;
}
