.desktop-container .section2-1 .card,
.desktop-container .section2-2 .card {
  height: auto;
}

.desktop-container .section2-1 .text-container .job:first-child {
  top: 56px;
}

.desktop-container .section2-1 .text-container .job:last-child {
  top: -42px;
}

.desktop-container .section2-1 .job {
  position: relative;
}

.desktop-container .section2-1 .img-container {
  height: 435px;
}

.desktop-container .section2-1 .img-container > div {
  width: 604px;
  height: 435px;
}