.section1 .img {
  position: relative;
  left: 650px;
  background-repeat: no-repeat;
}

.section1 .img1-holder {
  margin-top: 20px;
}

.section1 .img1 {
  background-image: url('../../../assets/img/76efecdc5ae92b756c2628b96e6295e7.jpg');
  background-size: cover;
  background-position-x: -66.707px;
  width: 332px;
  height: 332px;
  border-radius: 332px;
}

.section1 .img2-holder {
  margin-top: -350px;
}

.section1 .img2 {
  background-image: url('../../../assets/img/a442986310f16e3c3b91221b98067a3a.jpg');
  background-position-x: -26.014px;
  background-size: 149.804% 100%;
  width: 421px;
  height: 421px;
  border-radius: 421px;
}

.section1 .img3-holder {
  margin-top: -190px;
}

.section1 .img3 {
  background-image: url('../../../assets/img/82bcf6318e99db8df0b7ee4092a2604c.jpg');
  background-position-y: -27.582px;
  background-size: 100% 124.778%;
  width: 373px;
  height: 373px;
  border-radius: 373px;
}
