.desktop-container .section3 .img-holder {
  width: 554px;
  height: 554px;
  border-radius: 277px;
  background-image: url('../../../assets/img/a8fd116b30519773596fa0a2377e9de5.png');
  background-size: 250% 162.037%;
  background-position: -500px -190px;
  background-repeat: no-repeat;
  margin: auto;
  filter: brightness(80%);
}

.desktop-container .section3 .img-container {
  width: 100%;
  height: 700px;
}

.desktop-container .section3 .quote.other {
  color: white;
}

.desktop-container .section3 .circle-text-change-anim {
  width: 1200px;
}

.desktop-container .svg-mask {
  top: -100px;
  text-align: center;
}

.desktop-container .anim-text-holder {
  margin: 10px auto 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.desktop-container .anim-text {
  padding: 10px 15px;
  white-space: nowrap;
}
